div {
position: fixed; 
bottom: 2%;
width: 99.5%;
height: 50px;
}
	
pre {
text-align: center;
white-space: pre;
font-family: monospace;
color: #FF0000;
}

body {
background-color: black;
}

input { 
border-color: #FF0000;
background-color: black;
color: white;
width: 90%;
height: 50px;
}

input:focus { 
border-color: #FF0000 !important;
background-color: black !important;
color: white !important;
width: 90%;
height: 50px;
}

button {
border-color: #FF0000;
background-color: black;
color: white;
height: 50px;
width: 9.4%;
}
